
.loader11 {
  position: relative;
  width: 6px;
  height: 60px;
  color: blue;
  border-radius: 2px;
  background-color: currentColor;
  animation: loader11-animation 0.5s 0.5s linear infinite alternate;
}

.loader11::after,
.loader11::before {
  content: "";
  width: 6px;
  height: 60px;
  border-radius: 2px;
  background: currentColor;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  animation: loader11-animation 0.5s 0.75s linear infinite alternate;
}

.loader11::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes loader11-animation {
  0% {
    height: 68px;
  }

  100% {
    height: 4px;
  }
}
